<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      /* <![CDATA[ */
        <%= css %>
      /* ]]> */
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="bookstrap-modal" class="modal fade hidden-print" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Print bookstrap</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="bookstrap-print" class="btn btn-primary">Print</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bookstrap visible-print-block">
      <div class="top">
        <p class="title">
          <strong>Title:</strong> <span class="value">{{item.title}}</span>
        </p>

        <p class="author">
          <strong>Author:</strong> <span class="value">{{item.author}}</span>
        </p>

        <p class="barcode pull-left">
          <span class="id">{{id}}</span>
        </p>

        <div class="clearfix"></div>

        <p class="patron">
          <strong>Patron:</strong> <span class="value">{{patron.name}}</span>
        </p>

        <p class="due_date">
          <strong>Due Date:</strong> <span class="value">{{dueDate}}</span>
        </p>

        {{#if canRenew}}
        <p class="renew can-renew">
          <span>You <strong>may</strong> be able to renew this item.<br/>
            Request a renewal at <a>{{renewal.link}}</a><br/>
            <strong>no later than</strong> {{renewal.dueDate}}</span>
        </p>
        {{else}}
        <p class="renew cant-renew">
          <span>No renewals</span>
        </p>
        {{/if}}
      </div>

      <div class="middle">
        <p class="return_to">
          <strong>Patron, please return book to:</strong><br/>
          <span class="value">{{#borrower.name}}{{.}}<br/>{{/borrower.name}}
            {{borrower.host}} ({{borrower.oclcSymbol}})</span>
        </p>
      </div>

      <div class="bottom">
        <p class="loan_from">
          <strong>An Interlibrary Loan from:</strong><br/>
          <span class="value">{{#lender.name}}{{.}}<br/>{{/lender.name}}
            {{lender.host}} ({{lender.oclcSymbol}})</span>
        </p>
      </div>
    </div>
    <script>
      /* <![CDATA[ */
        $(function() {
          var hideFrame = function() { $(window.parent.document).find('#strappy-iframe').hide(); };

          var bookstrapForModal = $('.bookstrap').clone().removeClass('visible-print-block');

          $('#bookstrap-modal .modal-body').append(bookstrapForModal);

          $('#bookstrap-modal').modal('show');
          $('button.close, [data-dismiss="modal"]').click(hideFrame);
          $('#bookstrap-print').click(function() { window.print(); hideFrame(); });
        });
      /* ]]> */
    </script>
  </body>
</html>
