@page {
  margin: 0; /* See http://stackoverflow.com/questions/1960939/disabling-browser-print-options-headers-footers-margins-from-page?rq=1 */
}

@media print {
  .bookstrap.visible-print-block {
    margin: 2in 0.75in 1in;
  }
}

body {
  background: transparent;
}

.bookstrap {
  width: 2.75in;
  height: 100%;
}

.top {
  margin-bottom: 90px;
}

.middle {
  margin-bottom: 90px;
}

.id {
  font-family: monospace;
}

.bookstrap a {
  color: black;

  text-decoration: underline;
}

.logo {
  width: 100%;
}
